body  
{  
    margin: 0;  
    padding: 0;    
    font-family: 'Arial';  
    background-image: url("background.jpg");
}  
.login{  
        width: 382px;  
        overflow: hidden;  
        margin: auto;  
        margin: 20 0 0 450px;  
        padding: 80px;  
        background: #23463f;  
        border-radius: 15px ;  
          
}  
h2{  
    text-align: center;  
    color: #277582;  
    padding: 20px;
    size: 5000px;  
}  
label{  
    color: #08ffd1;  
    font-size: 17px;  
}  
#Uname{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
}  
#Pass{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
      
}  
#log{  
    width: 300px;  
    height: 30px;
    align-content: left;  
    border: none;  
    border-radius: 17px;  
    padding-left: 7px;  
    color: blue;  
  
  
}  
span{  
    color: white;  
    font-size: 17px;  
}
#link{
    display: inline-block;
}

#ps{  
    float: right;  
    background-color: white;  
}

#new{
    border-radius: 20em;
    background-color: grey;
    stroke-width: 0ex;
}
#crs{
    text-align : center;
    text-emphasis-color: #23463f;
}