<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="admin.component.css"/>
<title>Admin</title>
</head>
<body>

<div class="sidenav">
  <a [routerLink]="['/add']">Add Course</a>
  <a [routerLink]="['/delete']">Delete Course</a>
  <a [routerLink]="['/approval']">Student Approval</a>
  <a [routerLink]="['/addprof']">Add Professor</a>
  <a [routerLink]="['/assignprof']">Assign Courses to Professor</a>

</div>

<div class="main">
  <h2>Admin Page</h2>
</div>


</body>
</html>